<div class="show-wrapper">
  <div class="show-head">
      <%= link_to "Top", root_path, class: "show-header-right" %>
  </div>

  <%= form_with model: @blog_tag, url: blogs_path, method: :post, local: true do |f| %>
    <div class="image-area">
      <div id="preview">
      </div>
      <p id="click-file" style="cursor: pointer;">ファイルをアップロード</p>
      <div id="file-btns">
        <%= f.file_field :images, name: 'blog_tag[images][]', id: "blog-image", data:{index: 0}, style: "display: none;" %>
      </div>
    </div>
    <div class="tag-area">
      <p>タグ</p>
      <%= f.text_field :name, id: "blog-tag", autocomplete: "off" %>
      <div id="result">
      </div>
    </div>
    <div class="title-area">
      <p>タイトル</p>
      <%= f.text_field :title, id: "blog-title" %>
    </div>
    <div class="content-area">
    <p>本文</p>
      <%= f.text_area :content, id: "blog-content" %>
    </div>
    <div class="description-area">
    <p>記事の簡単な説明</p>
      <%= f.text_area :description, id: "blog-description" %>
    </div>
    <div class="submit-area">
      <%= f.submit "投稿する", id: "blog-submit" %>
    </div>
  <% end %>
</div>
